{{ define "content" -}}

<div class="w3-content">
  <div
    class="w3-container w3-margin-bottom w3-center w3-border w3-large w3-verifier"
  >
    <h2 class="">Credential Verifier</h2>
  </div>

  <p class="w3-large">
    This is the component that talks to the Wallet to receive the Verifiable
    Credential and hide the complexity from the application.
  </p>
  <p class="w3-large">
    The Verifier appears to the application as a normal Identity Provider like
    Google, Facebook, Microsoft, etc.
  </p>

  <div class="w3-row">
    <div class="w3-container w3-margin-bottom w3-half">
      <div class="w3-card">
        <div class="w3-container w3-padding-16 w3-center">
          <h3>Scan this QR code to authenticate with a mobile</h3>

          <img src="data:{{.QRcode}}" alt="QRcode" />
        </div>
      </div>
    </div>

    <div class="w3-container w3-margin-bottom w3-half">
      <div class="w3-card">
        <div class="w3-container w3-padding-16 w3-center">
          <h3>Or click this button to authenticate with the browser</h3>

          <div class="w3-container w3-padding-16">
            <button
              onclick="window.open({{.Samedevice}}, 'thewallet', 'popup' )"
              class="w3-btn w3-verifier"
            >
              Login with browser
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Schedule a poll to the server each second, until either an error or success is received
  setTimeout(pollServer, 1000);

  async function pollServer(a) {
    // There will be an HTTP 302 Redirection after this
    // We will receive the url to invoke as a result from the POST
    let resp = await fetch("/login/poll?state={{.AuthRequestID}}", {
      cache: "no-cache",
      mode: "no-cors",
      redirect: "manual",
    });
    if (resp.ok) {
      const data = await resp.text();
      if (data === "pending") {
        // Poll again in 1 second
        console.log("pending");
        setTimeout(pollServer, 1000);
        return;
      }
    } else {
      if (resp.type == "opaqueredirect") {
        var redirectedURL = resp.url;
        console.log(redirectedURL);
        location = redirectedURL;
      }
    }
  }
</script>
{{- end }}
