{{define "index"}} {{template "partials/header" .}}

<main class="w3-container">

    <div class="w3-row">

        <div class="w3-half w3-container w3-margin-bottom">
            <div class="w3-card-4">
                <div class=" w3-container w3-margin-bottom color-primary">
                    <h4>Wallet provider</h4>
                </div>

                <div class="w3-container w3-padding-16">
                    <a href="/walletprovider" class="btn-primary">Get your Wallet</a>
                </div>

            </div>
        </div>


        <div class="w3-half w3-container w3-margin-bottom">
            <div class="w3-card-4">
                <div class=" w3-container w3-margin-bottom color-primary">
                    <h4>Issuer of credentials</h4>
                </div>

                <div class="w3-container w3-padding-16">
                    <a href="/issuer" class="btn-primary">Go to Issuer</a>
                </div>

            </div>
        </div>

        <div class="w3-half w3-container w3-margin-bottom">
            <div class="w3-card-4">
                <div class=" w3-container w3-margin-bottom color-primary">
                    <h4>Verifier of credentials</h4>
                </div>

                <div class="w3-container w3-padding-16">
                    <a href="/verifier" class="btn-primary">Go to Verifier</a>
                </div>

            </div>
        </div>

    </div>

</main>

{{template "partials/footer" .}} {{end}}