{{define "verifier_logincompleted"}} {{template "partials/header" .}}

<main class="w3-container">

    <div class="w3-container w3-padding-16">
        <h4>Welcome {{.claims.credentialSubject.name}}</h4>
    </div>

    <div>
        <p>You have now access to the protected resources.
        </p>
    </div>

    <div class="w3-container w3-padding-16">
        <a href="{{.verifierPrefix}}/accessprotectedservice" class="btn-primary">Access protected service</a>
    </div>

</main>

{{template "partials/footer" .}} {{end}}