{{define "verifier_receivedcredential"}} {{template "partials/header" .}}

<main class="w3-container">

    <div class="w3-container w3-padding-16">
        {{if .registering}}

        <div class="w3-card-4">
            <div class=" w3-container w3-margin-bottom color-primary">
                <h5>Register biometric authenticator</h5>
            </div>

            <div class="w3-container">
                <h4>Welcome {{.claims.credentialSubject.name}}</h4>

                <p>For additional security, we require you to register your device for biometric authentication later.</p>
                <p>Please accept the request in your device.</p>

            </div>

        </div>

        {{else}}

        <div class="w3-card-4">
            <div class=" w3-container w3-margin-bottom color-primary">
                <h5>Confirm with authenticator</h5>
            </div>

            <div class="w3-container">
                <h4>Welcome {{.claims.credentialSubject.name}}</h4>

                <p>For additional security, you have to confirm with your authenticator.</p>
                <p>Please accept the request in your device.</p>

            </div>

        </div>

        {{end}}

    </div>

</main>

<script>
    // Schedule a poll to the server each second, until either an error or success is received
    setTimeout(pollServer, 1000)

    async function pollServer(a) {
        try {
            const response = await fetch('{{.verifierPrefix}}/poll/{{.state}}')
            if (!response.ok) {
                // Stop polling if we receive an error from the transport
                window.alert("A server error happened.")
                // Go to home page
                location = "{{.verifierPrefix}}"
                return
            }
            const data = await response.text()
            console.log("Received:", data)

            if (data === "expired") {
                // Stop polling if the session expired in the server and present a message
                location = "{{.verifierPrefix}}/loginexpired"
                return
            }
            if (data === "authenticating" || data === "registering") {
                // Poll again in 1 second
                setTimeout(pollServer, 1000)
                return
            }

            // At this point we know the server has received valid data from the wallet
            // Stop polling and present the logged in screen

            if (data == "completed") {
                location = "{{.verifierPrefix}}/logincompleted/{{.state}}"
                return
            }

            window.alert("A server error happened.")
            // Go to home page
            location = "{{.verifierPrefix}}"
            return

        } catch (error) {
            // Stop polling if we receive an error from the transport
            window.alert("A server error happened.")
            location = "{{.verifierPrefix}}"
            return
        }
    }
</script>


{{template "partials/footer" .}} {{end}}