{{define "wallet_selectcredential"}} {{template "partials/header" .}}

<main class="w3-container">

    {{if .credlist}}
    <h4>We have received a request for a credential of type {{.authRequest.Scope}}.</h4>

    <h4>If you agree, select a credential for authentication</h4>

    <div class="w3-row">
        {{range .credlist}}

        <div class="w3-half w3-container w3-margin-bottom">
            <div class="w3-card-4">
                <div class=" w3-container w3-margin-bottom color-primary">
                    <h4>{{.Id}}</h4>
                </div>

                <div class="w3-container w3-padding-16">
                    <a href="{{$.walletPrefix}}/sendcredential/?id={{.Id}}&redirect_uri={{$.authRequest.Redirect_uri}}&state={{$.authRequest.State}}" class="btn-primary">Send</a>
                </div>

            </div>
        </div>

        {{end}}
    </div>

    {{else}}
    <h3>There are no credentials</h3>
    {{end}}

</main>

{{template "partials/footer" .}} {{end}}